
<% if current_user.admin %>
  <h3>ADMIN</h3> 
<% end %>
<h1><%= @user.username %>'s profile </h1>
<% if logged_in && @user == current_user %>
    <p>
    <%= link_to 'Edit', edit_user_path(@user) %>
    <%= form_tag user_path(@user.id), method: "delete" do %>
        <%= submit_tag "Delete #{@user.username}" %>
    <br></br>
    <%= link_to 'See all Companies', companies_path %>
    <br></br>
    <%= link_to 'Create a new Review', new_review_path %>
    <br></br>
    <%= link_to 'Log Out', signout_path %>
    <br></br>
    <% end %>
    </p>
<% elsif logged_in && current_user.admin %>
    <p>
    <%= link_to 'Edit', edit_user_path(@user) %>
    <%= form_tag user_path(@user.id), method: "delete" do %>
        <%= submit_tag "Delete #{@user.username}" %>
    <% end %>
    </p>
<% end %>
