<h2> List of All Companies </h2>
<table>
    <% @companies.each do |company|%>
      <th>Name: <%= company.name %></th>
      <td>Size: <%= company.size %>
      <% if company.reviews.exists? %>
      <%= link_to "See #{company.name} reviews", company_reviews_path(company) %>
      <% end %>
      <%= link_to "Submit a review for this Company", new_company_review_path(company) %>
      <% if current_user.admin %>
      <%= button_to "Delete Company", company_path(company), :method => :delete, :class => "delete", :confirm => "Are you sure ?"%>
      <% end %>
    </td>
    </table>
    <% end %>

    <% if logged_in && @user == current_user %>
        <p>
          <%= link_to "My Account", user %>
          <%= link_to "My Reviews", review_path(current_user.review) %>
      <% end %>
