<h2>All of the reviews by <%=@company.name%> </h2>
<table>
  <th><%= @company.name %></th>
    <% @company.reviews.each do |review| %>
      <tr><%= review.user.username %> says:
        <td>salary: <%= review.salary %></td>
        <td>Are there women in leadership positions? <%= review.women_exec_roles %></td>
        <td>Are there opportunities for promotion for women? <%= review.promo_opps %></td>
        <td>Would you recommend this company to a female friend? <%= review.recommend %></td>
        <td>What is your overall job satisfaction rating? <%= review.job_rating %></td>
        <td>Any other details about the company (i.e. Maternity leave, remote work flexibility, company wide training etc.)<%=review.content%></td>
        <% if logged_in && review.user_id == current_user.id %>
          <p>
            <%= link_to "Edit Review", edit_company_review_path(@company, review) %>
            <%= button_to "Delete Review", company_review_path(@company, review), :method => :delete, :class => "delete", :confirm => "Are you sure ?"%>
              </p>
            <% end %>
        <% end %>
      </tr>
    </table>


    <% if logged_in && @user == current_user %>
        <p>
          <%= link_to "My Account", user %>
          <%= link_to "My Reviews", review_path(current_user.review) %>
      <% end %>
